<html>
<head>
<title>My WEB Page</title> <!-- Описание надписи на вкладке браузера -->

<script language="JavaScript">
	var sizes = new Array(0,1,2,4,8,10,12);
	sizes.pos = 0;

function Elastic()
{
	var el = document.all.elastic
	if (null == el.direction)el.direction = 1
	else if ((sizes.pos > sizes.length - 2) || (0 == sizes.pos))
	el.direction *= -1
	el.style.letterSpacing = sizes[sizes.pos += el.direction]
setTimeout('Elastic()',100)
}
</script>

<!-- Описание объектов Web-страницы -->
<body bgcolor="black" onLoad=Elastic()> 
<font color="gold"> Owner of this server is: {{ owner }}<br>
<!-- Заголовок 1 типа -->
<font color="silver"><h1 ID="elastic" align="Center">Заголовок типа 1</h1> 
<br><br><br>
<br><br><br>
<!-- Обычный текст -->
<font color="red">Моя первая Web-страница! С шаблонами<br>
<font color="blue">Server Host Name: {{ ansible_hostname }}<br>
Server OS Family: {{ ansible_os_family }}<br>
IP Address of this Server: {{ ansible_default_ipv4.address }}<br>

</body>
</html>



